.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 40px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

.stackly-logo img {
    height: 30px;
}

.nav-links {
    display: flex;
    font-weight: bold;
    gap: 40px;
    align-items: center;
}

.nav .link {
    font-size: 20px;
    color: #2f2f30;
    text-decoration: none;
    position: relative;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.nav .link:hover {
    color: #202124;
    background-color: #f1f3f4;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #202124;
    margin: 4px 0;
    transition: 0.3s;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .nav {
        background: #ffffff;
        padding: 15px 20px;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        gap: 0;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        max-height: 100vh;

        display: flex;
        padding-bottom: 20px;
    }

    .nav .link {
        padding: 20px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
    }

    .hamburger {
        display: flex;
        z-index: 1001;

    }

    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}